.nav {
    background: white;
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #0A66C2;
    font-size: 2em;
    margin-left: 1em;
    width: 100%;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBar {
    background-color: #EEF3F8;
    border: none;
    height: 4vh!important;
    border-radius: 4px;
    margin-left: .5em;
}

.iconWrapper {
    color: #666666;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-grow: 1;
    font-size: .8em!important;
    margin-left: auto!important;
}

.searchIcon {
    z-index: 1000!important;
    color: #666666!important;
    position: relative!important;
    top: 0;
    left: -140px;
    background-color: #EEF3F8;
}

.lav{
    color: #666666!important;
    margin: 0 .5em;
    font-size: .8em!important;
}

.iconContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line {
    border: .5px solid #F3F2EF;
    height: 100%;
}
.alt {
    width: 100%!important;
    height: 100%!important;
}