.nav {
    background: white;
    width: 100vw;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #0A66C2;
    font-size: 2em;
    width: 100%;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBar {
    background-color: #EEF3F8;
    border: none;
    height: 4vh !important;
    border-radius: 4px;
    margin-left: .5em;
}

@media screen and (max-width: 1000px) {
    .inputBar {
        display: none;
    }
}

.iconWrapper {
    color: #666666;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-grow: 1;
    font-size: .8em !important;
    margin-left: auto !important;
}

.searchIcon {
    z-index: 1000 !important;
    color: #666666 !important;
    position: relative !important;
    top: 19px;
    left: -17.2%;
    background-color: #EEF3F8;
}
.homeIcon {
    margin-top: 5px;
}
@media screen and (max-width: 1200px) {
    .searchIcon {
  
        top: 19px;
        left: -20.2%;
        background-color: #EEF3F8;
    }
    .homeIcon {
        margin-top: 5px;
    }
}
@media screen and (max-width: 1000px) {
    .searchIcon {
        top: 14px;
        left: 3.5%;
        background-color: white;
    }
    .homeIcon {
        margin-top: 5px;
    }
}
@media screen and (max-width: 800px) {
    .iconContent > span {
        display: none;
    }
    .searchIcon {
        position: relative !important;
        top: 9px;
        left: 4%;
        background-color: white;
    }
    .homeIcon {
        margin-top: 5px;
    }
}

.lav {
    color: #666666 !important;
    margin: 0 .5em;
    font-size: .8em !important;
}

.iconContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    border: .5px solid #F3F2EF!important;
    height: 100%;
}

.alt {
    width: 100% !important;
    height: 100% !important;
}

.navigationLink {
    color: #666666;
}

.navigationLink:hover {
    color: black;
    text-decoration: none;
}

.logoNavBar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #F3F2EF;
}
.spanNavBar {
    margin-bottom: 6px;
    color: #666666;
}

.linkToProfile {
    text-decoration: none;
    color: #F3F2EF;
}