

.presentationCard{
    min-height: 600px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.banner{
    flex: 2;
    background-color: #0A66C2;
    height: 30%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.profileImg{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid white;
    background-color: black;
    position: absolute;
    top: 85px;
    left: 40px;
    cursor: pointer;
}
.profileImg img{
    width: 100%!important;
    height: 100%!important;
    border-radius: 50%;
}
.bottomPart{ 
    flex: 2.4;  
    padding: 16px 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.whoAmI h3{
    font-size: 1rem;
}

.buttonArea Button{
    border-radius: 100px;
}
.buttonArea Button:nth-child(2){
    border: 1px solid #1565C0;
}
.buttonArea Button:nth-child(3){
    border: 1px solid gray;
    color: gray;
}

@media screen and (max-width: 990px) {
    .buttonArea Button{
        border-radius: 15px;
        font-size: 10px;
    }
}

.accWrappy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
