* {
  padding: 0;
  margin: 0;
}

.App {
  background-color: rgb(243, 242, 239);
}

html {
  background-color: rgb(243, 242, 239);
}

body {
  background-color: #F3F2EF !important;
}

/* faccio classe generale per margin */
.myCard {
  margin: 0.5em 0;
}

/* INPUT/FORM ADJUSTMENTS */

.inputForm,
textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 3px;
}

.myDate {
  width: 49%;
}

.myDate:nth-child(even) {
  margin-right: .3em;
}

.modalForm>div>p {
  margin-bottom: 2px !important;
  margin-top: 20px !important;
}

.modalWrapper {
  width: 60% !important;
  height: 80% !important;
}

select {
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
  padding: 4px;
}

.delForm {
  font-weight: bold !important;
  color: #9E9E9E !important;
}

.delForm:hover {
  background-color: #EBEBEB !important;
}

.footForm {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

/* PROFILE CONTAINER */

.profile {
  width: 60%;
  margin: .3em auto;
  box-sizing: border-box;
}

.profileTwo {
  width: 90%;
  margin: .3em auto;
  box-sizing: border-box;
}

.miniProfile {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 1% auto;
}

.miniProfileImg {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 5px solid white;
  background-color: black;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.miniPresCard {
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.miniAccName {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .5em;
}

.miniAccRole {
  font-size: .8rem;
  color: #666666;
}

.miniBottomPart {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: center;
}

.miniBanner {
  flex: 4;
  background-color: darkblue;
  height: 100%;
  width: 100%;
}


/* POST SECTION / HOMEPAGE */
.flexProportions {
  margin-right: 1em !important;
}

.postCard {
  margin-bottom: 10px;
  width: 100%;

}

/* hr {
  width: 100%;
} */
.btnInput {
  width: 100%;
  min-height: 45px;
  color: #5E5E5E;
  background-color: white!important;
  margin-left: .3em!important;
  text-align: left!important;
  border: 1px solid #5E5E5E;
}

.btnInput:hover {
  background-color: #EBEBEB !important;  
}

.postBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.postUserImg {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: 5px solid white;
  background-color: black;
}
.btnPost{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  flex-wrap: nowrap;

}
.btnPost:nth-child(4) > p {
  flex: 2
}
.btnPost:nth-child(4) > svg {
  flex: 1
}
.btnPost > p {
  margin: 0 0 0 .5em;
  color: #5E5E5E;
  font-size: .8em;
 
}
.btnPost:hover {
  background-color: #EBEBEB !important;
}

.centerHomeSection {
  width:50%;
}

div.MuiTypography-root {
  flex: 1;
}
p.MuiTypography-root:nth-child(2) {
  flex: 5;
}