
*{
  padding: 0;
  margin: 0;
}

.App {
  background-color: rgb(243, 242, 239);
}
html{
  background-color: rgb(243, 242, 239);
}

body {
  background-color: #F3F2EF!important;
}

/* faccio classe generale per margin */
.myCard {
  margin: 0.5em 0;
}

/* INPUT/FORM ADJUSTMENTS */

input, textarea {
  width:100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 3px;
}

.myDate {
  width: 49%;
}
.myDate:nth-child(even) {
  margin-right: .3em;
}

div > p {
  margin-bottom: 2px!important;
  margin-top: 20px!important;
}

.modalWrapper {
  width: 60%!important;
  height: 80%!important;
}

select {
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
  padding: 4px;
}

